body {
    height: 100vh;
}



#main-all-tweets {
    margin-top: 0;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    border-right: 1px solid white ;
    border-left: 1px solid white ;


    
}

i {
    float: left;
    margin-top: 0.35rem;
}

.left-links {
    display: block;
    padding-right: 4rem;
    
    margin-top: 2rem;

    font-size: 19px;

    font-weight: 700;

    color: #fff;
}

.left-links:hover {
    text-decoration: none;
}

.left-buttons {
    float: right;
}

.tweet {
    background-color: #555 !important;
    color: #fff;
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;

    /* width: 75%;s */

}

label {
    color: white;
}