<%- include('./partials/header') %> 

<div class="container">
    <br />
    <div class="jumbotron">
        <h1 class="display-4">Twitter Clone</h1>
        <p class="lead">This is a simple Twitter Clone, an app that allows users to post tweets, see other users' tweets, and create new users.</p>
        <hr class="my-4">
        <p>This app uses FaunaDB, Express, and EJS</p>
        <p>I plan to expand this app to allow for following others and authentication</p>
        <a class="btn btn-primary btn-lg" href="/all" role="button">Continue to app</a>
        
    </div>
</div>

<%- include('./partials/footer') %> 