<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 

<div class="container">
    <br />
    <form action="/newuser" method="POST" >
        <div class="form-group">
          <label for="inputText">Username</label>
          <input type="text" class="form-control" placeholder="username" name="username" required="true"/>
          <% if(err) { %>
            <small><%= err %></small>
          <% } %> 
        </div>
        <input type="submit" value="submit" class="btn btn-primary">
    </form>
</div>

<%- include('./partials/footer') %> 